v16
src/MonkeyShock.PowerPlatform/Code/Dataverse/MonkeyShock.PowerPlatform.Dataverse.Plugins/bin/
src/MonkeyShock.PowerPlatform/Code/Dataverse/MonkeyShock.PowerPlatform.Dataverse.Plugins/obj/
src/MonkeyShock.PowerPlatform/packages/
src/MonkeyShock.PowerPlatform/Tests/Dataverse/MonkeyShock.PowerPlatform.Dataverse.Plugins.UnitTests/bin/
src/MonkeyShock.PowerPlatform/Tests/Dataverse/MonkeyShock.PowerPlatform.Dataverse.Plugins.UnitTests/obj/
/src/MonkeyShock.PowerPlatform/Code/Dataverse/MonkeyShock.PowerPlatform.Dataverse.Context/bin/Release
/src/MonkeyShock.PowerPlatform/Code/Dataverse/MonkeyShock.PowerPlatform.Dataverse.Context/obj/Release
/src/MonkeyShock.PowerPlatform/.vs/MonkeyShock.PowerPlatform/config
/src/MonkeyShock.PowerPlatform/Code/Dataverse/MonkeyShock.PowerPlatform.Dataverse.WebResources/bin
/src/MonkeyShock.PowerPlatform/Code/Dataverse/MonkeyShock.PowerPlatform.Dataverse.WebResources/obj/Debug
/src/MonkeyShock.PowerPlatform/Code/Dataverse/MonkeyShock.PowerPlatform.Dataverse.WebResources/MonkeyShock.PowerPlatform.Dataverse.WebResources.csproj.user
/src/MonkeyShock.PowerPlatform/Code/Dataverse/MonkeyShock.PowerPlatform.Dataverse.WebResources/pg_/scripts/forms
/src/MonkeyShock.PowerPlatform/.vs/MonkeyShock.PowerPlatform/v17
/src/MonkeyShock.PowerPlatform/Infrastructure/Azure/MonkeyShock.Azure.ResourceGroup/obj/Debug
/src/MonkeyShock.PowerPlatform/Infrastructure/Azure/MonkeyShock.Azure.ResourceGroup/bin/Debug/staging/MonkeyShock.Azure.ResourceGroup
/src/MonkeyShock.PowerPlatform/.vs/MonkeyShock.PowerPlatform
/src/MonkeyShock.PowerPlatform/Code/Azure/MonkeyShock.Azure.Database/obj/Debug
/src/MonkeyShock.PowerPlatform/Code/Azure/MonkeyShock.Azure.Database/MonkeyShock.Azure.Database.sqlproj.user
/src/MonkeyShock.PowerPlatform/Code/Azure/MonkeyShock.Azure.Database/bin/Debug
/src/MonkeyShock.PowerPlatform/Code/Azure/MonkeyShock.Azure.Database/MonkeyShock.Azure.Database.dbmdl
/src/MonkeyShock.PowerPlatform/Code/Azure/MonkeyShock.Azure.Database/MonkeyShock.Azure.Database.jfm
